
<%-include('header')-%>


<style>
    canvas{
        width:500px;
        
    }
</style>



            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Sales Count </p>
                                <%if(locals.totalOrder){%>
                                    <h6 class="mb-0"><%=totalOrder%></h6>
                                <%}else{%>
                                    <h6 class="mb-0">No Sales</h6>
                                <%}%>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Sales Amount</p>
                                <%if(locals.totalAmount){%>
                                    <h6 class="mb-0">₹<%=totalAmount%></h6>
                                <%}else{%>
                                    <h6 class="mb-0">No Sales</h6>
                                <%}%>                            
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Overall discount</p>
                                <%if(locals.totalDiscount){%>
                                    <h6 class="mb-0">₹<%=totalDiscount%></h6>
                                <%}else{%>
                                    <h6 class="mb-0">No Discounts</h6>
                                <%}%>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Coupon deduction</p>
                                <%if(locals.couponDiscount){%>
                                    <h6 class="mb-0">₹<%=couponDiscount%></h6>
                                <%}else{%>
                                    <h6 class="mb-0">No CouponDeduction</h6>
                                <%}%>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- Sale & Revenue End -->








            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                        



                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <div class="pb-2 mb-4">
                                <h6>Sales Chart</h6>
                                <select id="sales-filter">
                                    <option value="yearly" data-sales="<%= JSON.stringify(locals.yearlyTotalSale) %>">Yearly</option>
                                    <option value="monthly" selected data-sales="<%= JSON.stringify(locals.monthlyTotalSale) %>">Monthly</option>
                                </select>
                            </div>
                            <canvas id="monthly-yearly-sales-chart" data-yearly-sales="<%= JSON.stringify(locals.yearlyTotalSale) %>" data-monthly-sales="<%= JSON.stringify(locals.monthlyTotalSale) %>"></canvas>
                        </div>
                    </div>
                    
                 
                    





                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <div class=" pb-2 mb-4" >
                                <h6>top 5 categories</h6>
                                
                            </div>
                            <canvas id="monthly-yearly-best-selling-category"  data-bestSelling-categories="<%= JSON.stringify(locals.top5Categories) %>"   ></canvas>
                        </div>
                    </div>



                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <div class=" pb-2 mb-4"   >
                                <h6>top 5 products</h6>

                            </div>
                            <canvas id="monthly-yearly-best-selling-product"  data-bestSelling-products="<%= JSON.stringify(locals.top5Products) %>" ></canvas>
                        </div>
                    </div>


                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Multiple Bar Chart</h6>
                            <canvas id="" ></canvas>
                        </div>
                    </div>
                </div>
            </div>




            <!-- Sales Chart End -->
             <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <br>




            <!-- Recent Sales Start -->


            <div class="container-fluid pt-4 px-4">

            <div class="bg-light rounded  p-4">
                <h6 class="mb-4">Recent Sales</h6>
                
                <div class="table-responsive">
                    <table id="salesTable" class="table table-bordered">
                        <thead>
                            <tr class="text-dark">
                                <!-- <th rowspan="2"></th> Add a column for checkbox input -->
                                <th rowspan="2">User Name</th>
                                <th rowspan="2">Order Date</th>
                                <th rowspan="2">Grand Total</th>
                                <th rowspan="2">Payment Status &<br>Order Status</th>
                                <th rowspan="2">Coupon</th>
                                <th rowspan="2">Tax</th>
                                <th style="text-align: center;" colspan="7">Order Items</th>
                                <!-- <th rowspan="2">Action</th> -->
                            </tr>
                            <tr class="text-dark">
                                <!-- Other headers -->
                                <th>Product Name</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>Product Price</th>
                                <th>Category Offer</th>
                                <th>Product Offer</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Iterate over orders and order items -->
                            <% orders.forEach(order => { %>
                                <% order.orderItems.forEach((item, index) => { %>
                                    <tr class="text-dark">
                                        <!-- Checkbox input for each row -->
                                        <!-- Render order details -->
                                        <% if (index === 0) { %>
                                            <!-- <td rowspan="<%= order.orderItems.length %>"><input type="checkbox"></td> -->
                                            <td rowspan="<%= order.orderItems.length %>"><%= order.userName %></td>
                                            <td rowspan="<%= order.orderItems.length %>"><%= new Date(order.orderDate).toLocaleString('en-US', { weekday: 'short', day: 'numeric', month: 'short', year: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: true }) %></td>
                                            <td rowspan="<%= order.orderItems.length %>"><%= order.grandTotal %></td>
                                            <td rowspan="<%= order.orderItems.length %>">
                                                <%= order.paymentStatus.type %>
                                                <br>
                                                <%= order.orderStatus.type %>
                                            </td>
                                            <td rowspan="<%= order.orderItems.length %>">
                                                <% if(order.couponName){ %>
                                                    <%= order.couponName %>
                                                    <br>
                                                    <%= order.couponDiscountPercentage %> %
                                                    <br>
                                                    <%= order.couponDiscount %>
                                                <% }else{ %>
                                                    N/A
                                                <% } %>
                                            </td>
                                            <td rowspan="<%= order.orderItems.length %>"><%= order.tax %></td>
                                        <% } %>
                                        <!-- Render order item details -->
                                        <td><%= item.productName %></td>
                                        <td><%= item.unitPrice %></td>
                                        <td><%= item.quantity %></td>
                                        <td><%= item.price %></td>
                                        <td>
                                            <%= item.categoryDiscountPecentage %>%
                                            <br>
                                            <%= item.categoryOffer %>
                                        </td>
                                        <td>
                                            <%= item.productDiscountPercentage %>%
                                            <br>
                                            <%= item.productOffer %>
                                        </td>
                                        <td><%= item.totalPrice %></td>
                                        <!-- Render action -->
                                        <!-- <% if (index === 0) { %>
                                            <td rowspan="<%= order.orderItems.length %>"><a class="btn btn-sm btn-primary" href="">Download</a></td>
                                        <% } %> -->
                                    </tr>
                                <% }); %>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>



















        <!-- </div> -->
        <!-- Content End -->


        <!-- Back to Top -->






<script>
    document.addEventListener('DOMContentLoaded', function() {
        const ctx = document.getElementById('monthly-yearly-sales-chart').getContext('2d');
        const salesFilter = document.getElementById('sales-filter');
        let chart;

        // Default data to be used when the page loads
        const defaultData = {
            labels: [],
            datasets: [{
                data: [],
                backgroundColor: '#FF5733'
            }]
        };

        // Function to parse the sales data and construct chart data
        function parseData(salesData) {
            const labels = salesData.map(item => item._id.toString());
            const data = salesData.map(item => item.totalSales);
            return {
                labels: labels,
                datasets: [{
                    data: data,
                    backgroundColor: '#FF5733'
                }]
            };
        }

        // Function to update chart based on selected filter
        function updateChart() {
            const filter = salesFilter.value;
            let data;

            if (filter === 'yearly') {
                data = parseData(JSON.parse(document.getElementById('monthly-yearly-sales-chart').dataset.yearlySales));
            } else if (filter === 'monthly') {
                data = parseData(JSON.parse(document.getElementById('monthly-yearly-sales-chart').dataset.monthlySales));
            }

            // Update chart with new data
            if (chart) {
                chart.data = data;
                chart.update();
            } else {
                chart = new Chart(ctx, {
                    type: 'bar',
                    data: data,
                    options: {
                        responsive: true,
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            }
        }

        // Event listener for filter change
        salesFilter.addEventListener('change', updateChart);

        // Initially update the chart when the page loads
        updateChart();
    });
</script>







<script>
    document.addEventListener('DOMContentLoaded', function() {
        var ctx = document.getElementById('monthly-yearly-best-selling-category').getContext('2d');
        
        // Get data from the dataset attribute
        var dataset = document.getElementById('monthly-yearly-best-selling-category').getAttribute('data-bestSelling-categories');
        var top5Categories = JSON.parse(dataset);
        
        // Extracting data from the dataset
        var labels = [];
        var data = [];
        top5Categories.forEach(function(category) {
            labels.push(category.categoryName);
            data.push(category.totalCount);
        });
        
        var salesData = {
            labels: labels,  
            datasets: [{
                label: 'top category',
                data: data,  
                backgroundColor: '#FFD633'
            }]
        };
    
        var chart = new Chart(ctx, {
            type: 'bar',
            data: salesData,
            options: {
                responsive: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>




<script>
    document.addEventListener('DOMContentLoaded', function() {
        var ctx = document.getElementById('monthly-yearly-best-selling-product').getContext('2d');
        
        // Get data from the dataset attribute
        var dataset = document.getElementById('monthly-yearly-best-selling-product').getAttribute('data-bestSelling-products');
        var top5Products = JSON.parse(dataset);
        
        // Extracting data from the dataset
        var labels = [];
        var data = [];
        top5Products.forEach(function(product) {
            labels.push(product.productName);
            data.push(product.totalCount);
        });
        
        var salesData = {
            labels: labels,  
            datasets: [{
                label: 'Top Products',
                data: data,  
                backgroundColor: '#5B33FF'
            }]
        };
    
        var chart = new Chart(ctx, {
            type: 'bar',
            data: salesData,
            options: {
                responsive: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>







        <%-include('footer')-%>


      