

            <%- include('header') %>




            <div class="container mt-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Order Details</h5>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>User Mail Id</th>
                                        <th>Date</th>
                                        <th>Address</th>
                                        <th>Product Details</th>
                                        <th>Payment Method</th>
                                        <th>Order Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% orderList.forEach(order => { %>
                                        <tr>
                                            <td><%= order.userEmailId %></td>
                                            <td><%= new Date(order.orderDate).toLocaleDateString('en-US', { day: '2-digit', month: 'short', year: 'numeric' }) %> <%= new Date(order.orderDate).toLocaleTimeString('en-US', { hour12: false, hour: '2-digit', minute: '2-digit', second: '2-digit' }) %></td>
                                            <td>
                                                <div>
                                                    <strong>Name:</strong> <%= order.billingAddress.name %><br>
                                                    <strong>Phone:</strong> <%= order.billingAddress.telephone %><br>
                                                    <strong>Address:</strong> <%= order.billingAddress.address %><br>
                                                    <strong>City:</strong> <%= order.billingAddress.city %><br>
                                                    <strong>Region/State:</strong> <%= order.billingAddress.regionState %><br>
                                                    <strong>Postcode:</strong> <%= order.billingAddress.postCode %><br>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal<%= order._id %>">
                                                    Order Details
                                                </button>
                                                <div><br>
                                                    <strong> Products:</strong> <%= order.orderItems.length %><br>
                                                    <strong>Total Price:</strong> <%= order.grandTotal %><br>
                                                </div>
                                            </td>

                                            <td>
                                                <div ><%= order.paymentMethod.type %></div>
                                                <br>
                                                <div ><%= order.paymentStatus.type %></div>
                                            </td>


                                            <td>
                                                <form action="/admin/editOrder/<%= order._id %>" method="POST">
                                                    <% const options = ['pending', 'shipped', 'delivered', 'cancelled']; %>
                                                    <% if (order.orderStatus.type !== "returned" && order.orderStatus.type !== "cancelled" && order.orderStatus.type !== "delivered"  && order.orderStatus.type !== "requested to return order" && order.orderStatus.type !== "return request reject"  ) { %>
                                                        <select name="status" class="form-control" style="width: 100px; background-color: rgb(0, 136, 255); color: white;" id="editStatus<%= order._id %>">
                                                            <% options.forEach(option => { %>
                                                                <%if(option!=="cancelled"){%>
                                                                    <option value="<%= option %>" <%= option === order.orderStatus.type ? 'selected' : '' %>><%= option %></option>
                                                                <%}else{%>
                                                                    <option value="<%= option %>" <%= option === order.orderStatus.type ? 'selected' : '' %>>cancel</option>
                                                                <%}%>
                                                            <% }); %>
                                                        </select>
                                                        <td>
                                                        <div class="d-flex">
                                                            <button class="btn btn-primary btn-sm" type="submit">
                                                                <i class="fas fa-save"></i> Save
                                                            </button>
                                                        </div>
                                                        </td>
                                                    <% } else if(order.orderStatus.type == "requested to return order"){%>
                                                        <% const returnOptions = ['return request reject', 'returned' ]; %>
                                                        <select name="status" class="form-control" style="width: 100px; background-color: rgb(0, 136, 255); color: white;" id="editStatus<%= order._id %>">
                                                            <% returnOptions.forEach(option => { %>
                                                                    <option value="<%= option %>" <%= option === order.orderStatus.type ? 'selected' : '' %>><%= option %></option>
                                                                
                                                            <% }); %>
                                                        </select>
                                                        <td>
                                                        <div class="d-flex">
                                                            <button class="btn btn-primary btn-sm" type="submit">
                                                                <i class="fas fa-save"></i> Save
                                                            </button>
                                                        </div>
                                                        </td>

                                                    <%}else { %>
                                                        <button class="btn btn-info" disabled>
                                                            <%= order.orderStatus.type %>
                                                        </button>
                                                    <% } %>
                                                </form>
                                            </td> 

                                        </tr>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal<%= order._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <!-- Modal Body -->
                                                    
                                                    <div class="modal-body">
                                                        <% order.orderItems.forEach(item => { %>
                                                            <div class="d-flex flex-row mb-4 pb-2 border-bottom">
                                                                <div class="flex-fill">
                                                                    <strong>Product ID:</strong> <%= item.productId %><br>
                                                                    <h6 class="fw-bold">Product Name: <%= item.productName %></h6>
                                                                    <p class="fw-bold">Quantity: <%= item.quantity %></p>
                                                                    <h6 class="mb-0">Unit Price: ₹<%= item.unitPrice %> <span class="small text-muted"></span></h6>
                                                                    <h6 class="mb-0">Total Price: ₹<%= item.price %> <span class="small text-muted"></span></h6>
                                                                    <%if(item.categoryOffer>0){%>
                                                                        <h6 class="mb-0">category offer : ₹<%= item.categoryOffer %> <span class="small text-muted"></span></h6>
                                                                    <%}else{%>
                                                                        <h6 class="mb-0">category offer : nill <span class="small text-muted"></span></h6>
                                                                    <%}%>

                                                                    <%if(item.productOffer>0){%>
                                                                        <h6 class="mb-0">product offer : ₹<%= item.productOffer %> <span class="small text-muted"></span></h6>
                                                                    <%}else{%>
                                                                        <h6 class="mb-0">product offer : nill <span class="small text-muted"></span></h6>
                                                                    <%}%>
                                                                    <h6 class="mb-0">totalPrice  : ₹<%= item.totalPrice %> <span class="small text-muted"></span></h6>

                                                                </div>
                                                                <div class="ml-3">
                                                                    <img class="img-fluid" src="<%= item.images[0] %>" width="90" height="70">
                                                                </div>
                                                            </div>
                                                        <% }); %>


                                                        <%if(order.couponId){%>
                                                            <p class="fw-bold">coupon discount :₹<%=order.couponDiscount%></p>
                                                        <%}%>
                                                        <p class="fw-bold">Tax  ₹<%= order.tax %></p>
                                                        <p class="fw-bold">Delivery Charge  ₹<%= order.deliveryCharge %></p>
            
                                                        <p class="fw-bold">grandTotal  : ₹<%=order.grandTotal %></p>

                                                        <%if(order.returnReason){%>
                                                            <p class="fw-bold"> returnReason:<%=order.returnReason%></p>
                                                        <%}%>

                                                    </div>
                                                    <!-- Modal Footer -->
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/admin-style/js/main.js"></script>
</body>

</html>
