<%- include('header') %>

<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
        <div class="row g-4">

            <!-- <div class="bg-light rounded h-100 p-4 d-lg-inline-flex">
                <form >
                    <div class="row mb-3">
                        <div class="col-sm-10 ">
                            <input type="email" class="form-control" id="inputEmail3" >
                            <button type="submit" class="btn btn-primary">Search Product</button>  
                        </div>
                    </div>     
                </form>
                </div> -->

                



            <div class="bg-light rounded h-100 p-4">
                <%if(locals.productList){%>
                <h6 class="mb-4">Users List</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Index</th>
                                <th scope="col">Name</th>
                                <th scope="col">Image</th>
                                <th scope="col">Price</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Category</th>
                                <th scope="col">Brand</th>
                                <th scope="col">Description</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%productList.forEach((product,index)=>{%>
                                <tr>
                                    <td><%=index +1%></td>
                                    <td><%=product.name%></td>
                                   <td>
                                    <img  
                                    src="<%=product.image[0]%>" 
                                    class="img-fluid  mx-auto mb-4"
                                    style="width: 100px; height: 100px;"
                                    alt="">
                                   </td>
                                        <td><%=product.price%></td>
                                        <td><%=product.stock%></td>
                                        <td><%=product.categoryName%></td>
                                        <td>product.brand></td>
                                        <td><%=product.description%></td>

                                        <td style="background-color: rgb(98, 169, 40); width: 90px;">
                                            <% if (product.isAvailable == 'false') { %>
                                                <a  class="btn btn-info block-btn mb-2" data-user-id="<%= product._id%>" >to List</a>
                                            <% } else { %>
                                                <a class="btn btn-info unblock-btn mb-2" data-user-id="<%= product._id %>">to unList</a>
                                            <% } %>
                                            <a href="/admin/productUpdate/<%= product._id %>"><button class="btn btn-info">Edit</button></a>
                                        </td>
                                </tr>
                            <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> 
        
        




    <%}else{%>
        <h1>no data</h1>
        <%}%>
    
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    // Function to handle block action
    document.querySelectorAll('.block-btn').forEach(btn => {
        btn.addEventListener('click', function() {
            const userId = this.getAttribute('data-user-id');
            swal({
                title: 'Are you sure?',
                text: 'Do you want to list this user?',
                icon: 'warning',
                buttons: ['Cancel', 'list'],
                dangerMode: true,
            }).then((willBlock) => {
                if (willBlock) {
                    window.location.href = `/admin/list/${userId}`;
                }
            });
        });
    });

    // Function to handle unblock action
    document.querySelectorAll('.unblock-btn').forEach(btn => {
        btn.addEventListener('click', function() {
            const userId = this.getAttribute('data-user-id');
            swal({
                title: 'Are you sure?',
                text: 'Do you want to unlist this product?',
                icon: 'warning',
                buttons: ['Cancel', 'unlist'],
                dangerMode: true,
            }).then((willUnblock) => {
                if (willUnblock) {
                    window.location.href = `/admin/unlist/${userId}`;
                }
            });
        });
    });
</script>
   




   

<%- include('footer') %>
