<%-include('header')-%>
<!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Shopping Cart</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                	<div class="alert alert-success text-uppercase" role="alert">
						<i class="icon anm anm-truck-l icon-large"></i> &nbsp;<strong>Congratulations!</strong> You've got free shipping!
					</div>
                	<form action="#" method="post" class="cart style2">
                		<table>
                            <thead class="cart__row cart__header">
                                <tr>
                                    <th colspan="2" class="text-center" >Product</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">current stock</th>
                                    <th class="text-center">Quantity</th>
                                    <th  class="text-right">Total</th>
                                    <th class="action">&nbsp;</th>
                                </tr>
                            </thead>
                                   <tbody>
                                    <% locals.cartItems.forEach(item => { %>
                                        <tr class="cart__row border-bottom line1 cart-flex border-top">
                                            <td class="cart__image-wrapper cart-flex-item">
                                                <a href="#">
                                                    <img class="cart__image"
                                                         class="img-fluid  mx-auto mb-4" 
                                                         src="<%= item.images[0] %>"
                                                         style="width: 100px; height: 100px;"  
                                                         alt="<%= item.productId %>">
                                                </a>
                                            </td>
                                            <td class="cart__meta small--text-left cart-flex-item">
                                                <div class="list-view-item__title">
                                                    <a href="#"><%= item.name %> </a>
                                                </div>
                                            </td>
                                            <td style=" text-align: center;" class="cart__price-wrapper cart-flex-item">
                                                <span  class="money">$<%= item.unitPrice %></span>
                                            </td>
                                            <td style=" text-align: center;" class="cart__price-wrapper cart-flex-item">
                                                <span  class="money"><%= item.stock %></span>
                                            </td>
                                            <td class="cart__update-wrapper cart-flex-item text-right">
                                                <div class="cart__qty text-center">
                                                    <div class="qtyField"  >




                                                   
<!-- 
                                                        <a  data-product-id="<%= item.productId %>"  class="qtyBtn minus" onclick="qty('minus')"><i class="icon icon-minus"></i></a>
                                                        <input data-product-id="<%= item.productId %>" data-stock="<%= item.stock %>" class="cart__qty-input qty" type="text" name="updates[]" max="<%= item.stock %>" value="<%= item.quantity %>" pattern="[0-9]*">
                                                        <a  class="qtyBtn plus" onclick="qty('plus')"><i class="icon icon-plus"></i></a>
                                                        <div id="alertDiv" ><p style="color:darkred;"></p></div> -->


                                                        <a data-product-id="<%= item.productId %>" class="qtyBtn minus" onclick="qty('minus', '<%= item.productId %>')"><i class="icon icon-minus"></i></a>
<input data-product-id="<%= item.productId %>" data-stock="<%= item.stock %>" class="cart__qty-input qty" type="text" name="updates[]" max="<%= item.stock %>" value="<%= item.quantity %>" pattern="[0-9]*">
<a data-product-id="<%= item.productId %>" class="qtyBtn plus" onclick="qty('plus', '<%= item.productId %>')"><i class="icon icon-plus"></i></a>
<div id="alertDiv" data-product-id="<%= item.productId %>"><p style="color:darkred;"></p></div>



                                                        

                                                    </div>
                                                </div>
                                            </td>
                                            <td  class="text-right small--hide cart-price">
                                                <!-- <div id="product-price" data-product-id="<%= item.productId %>"><span class="money">$<%= item.price %></span></div> -->
                                                <!-- <div id="product-price" data-product-id="<%= item.productId %>"><span class="money">$0</span></div> -->
                                                <div id="productPrice" data-product-id="<%= item.productId %>"><span class="money">$<%= item.price %></span></div>

                                            </td>
                                            <td class="text-center small--hide">
                                                <a href="" class="btn btn--secondary cart__remove" title="Remove tem" data-stock="<%= item.stock %>"   data-product-id="<%= item.productId %>"><i class="icon icon anm anm-times-l"></i></a>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                                   <tfoot>
                               
                            </tfoot>
                    </table> 
                    </form>                   
               	</div>
                


                
                <div class="container mt-4">
                    <div class="row">
                    	<div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4">
                        	<h5>Discount Codes</h5>
                            <form action="#" method="post">
                            	<div class="form-group">
                                    <label for="address_zip">Enter your coupon code if you have one.</label>
                                    <input type="text" name="coupon">
                                </div>
                                <div class="actionRow">
                                    <div><input type="button" class="btn btn-secondary btn--small" value="Apply Coupon"></div>
                                </div>
                            </form>
                        </div>
                        <!-- <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4">
                        	<h5>Estimate Shipping and Tax</h5>
							<form action="#" method="post">
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <input type="text" id="country" name="country">    
                                      </div>
    
                                <div class="form-group">
                                    <label for="state">state</label>
                                    <input type="text" id="state" name="state">                                   
                                </div>
                                <div class="form-group">
                                    <label for="address_zip">Postal/Zip Code</label>
                                    <input type="text" id="address_zip" name="address[zip]">
                                </div>
    
                                <div class="actionRow">
                                    <div><input type="button" class="btn btn-secondary btn--small" value="Calculate shipping"></div>
                                </div>
                            </form>
                        </div> -->
                        
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
                            <div class="solid-border">	
                              <div class="row border-bottom pb-2">
                                <span class="col-12 col-sm-6 cart__subtotal-title">Subtotal</span>
                                <span id="subTotal" class="col-12 col-sm-6 text-right"><span class="money">$<%= totalprice %></span></span>

                              </div>
                              <div class="row border-bottom pb-2 pt-2">
                                <span class="col-12 col-sm-6 cart__subtotal-title">Tax</span>
                                <span class="col-12 col-sm-6 text-right">$<%= tax.toFixed(2) %></span>
                              </div>
                              <div class="row border-bottom pb-2 pt-2">
                                <span class="col-12 col-sm-6 cart__subtotal-title">Shipping</span>
                                <span class="col-12 col-sm-6 text-right">Free shipping</span>
                              </div>
                              <div class="row border-bottom pb-2 pt-2">
                                <span class="col-12 col-sm-6 cart__subtotal-title"><strong>Grand Total</strong></span>
                                <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right"><span class="money">$<%= grandTotal.toFixed(2) %></span></span>
                              </div>
                              <div class="cart__shipping">Shipping &amp; taxes calculated at checkout</div>
                              <p class="cart_tearm">
                                <label>
                                  <input type="checkbox" name="tearm" class="checkbox" value="tearm" required="">
                                  I agree with the terms and conditions
								</label>
                              </p>
                              <input  style="background-color: cadetblue;"  name="checkot" id="cartCheckout" class="btn btn--small-wide checkout" value="Proceed To Checkout" disabled="disabled">
                              <!-- <div class="paymnet-img"><img src="/assets/images/payment-img.jpg" alt="Payment"></div>
                              <p><a href="#;">Checkout with Multiple Addresses</a></p> -->
                            </div>
        
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
    
  <%-include('footer')-%>
  
  <script>
    const checkoutButton = document.getElementById('cartCheckout');
    function goToNextPage() {
      checkoutButton.disabled = false;
      checkoutButton.addEventListener('click', function(event) {
        event.preventDefault();
        window.location.href = '/checkout';
      });
    }
    goToNextPage();
  </script>


<!-- remove product from cart -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
      const removeButtons = document.querySelectorAll('.cart__remove');
      removeButtons.forEach(button => {
        button.addEventListener('click', function (event) {
          event.preventDefault();
          const productId = button.dataset.productId;
          fetch(`/remove/${productId}`, {
            method: 'GET',
          })
          .then(response => {
            if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }
            window.location.reload();
          })
          .catch(error => {
            console.error('Error removing product:', error);
          });
        });
      });
    });
  </script>






 <!-- quantity value change -->



 

 

 <!-- [data-product-id="${productId}"] -->

   <script>
        const qty = (action, productId) => {
        const qtyInput = document.querySelector(`.qty[data-product-id="${productId}"]`);
        const alertDiv = document.querySelector(`#alertDiv[data-product-id="${productId}"]`);
        const totalPriceElement = document.querySelector(`#productPrice[data-product-id="${productId}"]`);
        const subTotal = document.querySelector('#subTotal');

        const qtyValue = parseInt(qtyInput.value);

        let newQty ;

        if (action === 'plus') {
        newQty = qtyValue + 1;
    } else {
        newQty = Math.max(1, qtyValue - 1);
    }


        console.log(newQty,productId);

        fetch('/updateQuantity', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                productId: productId,
                newQuantity: newQty
            }),
        })
        .then(response => response.json())
        .then(data => {

            const divseted='<p style="color: darkred;">Out of stock</p>';
            const hello=`<span class="money">$${data.price.price}</span>`;
            console.log(hello);
            console.log(divseted);
            console.log(1234567890);
            console.log(data.outOfStock,888);

            if (data.outOfStock) {
                console.log('inside here');
                alertDiv.innerHTML = divseted
                totalPriceElement.innerHTML = hello

                // '<p style="color: darkred;">Out of stock\ncurrent stock ${data.product.stock}</p>';
                // `<p style="color: darkred;">Out of stock. Current stock: ${data.product.stock}</p>`;
            } else {
                alertDiv.innerHTML =""
                totalPriceElement.innerHTML = hello;
                // subTotal.innerHTML = `<span id="subTotal" class="col-12 col-sm-6 text-right"><span class="money">${data.price.price}</span></span>`
                console.log('Quantity updated successfully', data);
                // Additional logic if needed when quantity is updated successfully
            }
                //  `<p style="color: darkred;">current stock ${data.product.stock}</p>`;
                // `<p style="color: green;">Quantity updated successfully. Current stock: ${data.product.stock}</p>`;

                console.log('Quantity updated successfully', data);
                // Additional logic if needed when quantity is updated successfully
        })
        .catch(error => {
            console.error('Error updating quantity', error);
        });
    }
</script> 






<!-- <script>
    const qty = (action, productId) => {
    const qtyInput = document.querySelector(`.qty[data-product-id="${productId}"]`);
    console.log('kkj');
    // const alertDiv = document.querySelector(`.alertDiv[data-product-id="${productId}"]`);

    const totalPriceElement = document.querySelector(`[data-product-id="${productId}"] .cart-price`); // Adjust this selector

    const subTotal = document.querySelector('#subTotal');

    const qtyValue = parseInt(qtyInput.value);
    let newQty;

    if (action === 'plus') {
        newQty = qtyValue + 1;
    } else {
        if (qtyValue > 1) {
            newQty = qtyValue - 1;
        }
    }

    fetch('/updateQuantity', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            productId: productId,
            newQuantity: newQty,
        }),
    })
    .then(response => response.json())
    .then(data => {


        if (data.outOfStock) {
            console.log('true');
            const alertDiv = document.getElementById(`alertDiv-${productId}`);
            alertDiv.innerHTML=""

            alertDiv.innerHTML = '<p style="color: darkred;">Out of stock</p>';
        } else {
            alertDiv.innerHTML = '';
            totalPriceElement.innerHTML = `<div><span class="money">$${data.price.price}</span></div>`;
            subTotal.innerHTML = `<span id="subTotal" class="col-12 col-sm-6 text-right"><span class="money">${data.price.price}</span></span>`;
            console.log('Quantity updated successfully', data);
        }
    })
    .catch(error => {
        console.error('Error updating quantity', error);
    });
};

</script> -->

<!-- Add this script block after your existing script -->

  
</body>
</html>
