<%-include('header')-%>
<style>
    
</style>


<div id="page-content">
  <!--Collection Banner-->
  <div class="slideshow slideshow-wrapper pb-4">
    <div class="home-slideshow">
        <div class="slide">
            <div class="blur-up lazyload">
                <img class="blur-up lazyload desktop-show" data-src="/assets/images/slideshow-banners/home3-banner.jpg" src="/assets/images/slideshow-banners/home3-banner.jpg" alt="There is Beauty in Simplycity" title="There is Beauty in Simplycity" />
                <img class="blur-up lazyload mobile-show" data-src="/assets/images/slideshow-banners/home3-banner-mobile.jpg" src="/assets/images/slideshow-banners/home3-banner-mobile.jpg" alt="There is Beauty in Simplycity" title="There is Beauty in Simplycity" />
                <div class="slideshow__text-wrap slideshow__overlay classic middle">
                    <div class="slideshow__text-content left">
                        <div class="container">
                            <div class="wrap-caption left">
                                <h2 class="h1 mega-title slideshow__title">There is Beauty in Simplycity</h2>
                                <span class="mega-subtitle slideshow__subtitle">Save up to 50% off this weekend only</span>
                                <span class="btn">Shop now</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>


  
    <!--End Collection Banner-->
    <div clets="containe-fluid" >
      <div class="row">
        <!-- <nav class="grid__item" id="AccessibleNav">for mobile -->
            <ul id="siteNav" class="site-nav medium center hidearrow">


                    <li class="lvl1 parent dropdown">
                        <a >price sort
                            <i class="anm anm-angle-down-l"></i>
                        </a>
                        <ul class="dropdown">
                                <li>
                                    <div id="" class="wrapper mt-2 mb-2 p-2" style="width: 280px;height: 90px;  border-radius: 10px;  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);">
                                        <div class="price-input mb-0" style="width: 100%; display: flex;  ">
                                            <div class="field" style="display: flex; width: 300px; height: 30px; align-items: center; ">
                                                <span style="font-size: 14px;">Min</span>
                                                <input type="number" name="maxValue" id="minValue" class="input-min" value="7500" style="width: calc(100% - 50px); height: 100%; outline: none; font-size: 14px; margin-left: 3px; border-radius: 5px; text-align: center; border: 1px solid #999; -moz-appearance: textfield;">
                                            </div>
                                          <!-- <div class="separator" style="width: 10px; display: flex; font-size: 19px; align-items: center; justify-content: center;">-</div> -->
                                          <div class="field" style="display: flex; width: 300px; height: 30px; align-items: center; padding-inline-end: -8px;">
                                            <span style="font-size: 14px;">Max</span>
                                            <input type="number" id="maxValue" class="input-max" value="7500" style="width: calc(100% - 50px); height: 100%; outline: none; font-size: 14px; margin-left: 3px; border-radius: 5px; text-align: center; border: 1px solid #999; -moz-appearance: textfield;">
                                        </div>
                                        </div>
                                    
                                        <!-- Buttons added here -->
                                        <div style="display: flex; justify-content:space-evenly;  " class="mt-2">
                                            <button type="button" class="btn" id="btn-1" style=" background-color: #17a2b8; color: white; border: none; border-radius: 5px; cursor: pointer; width: 100px; height: 30px;padding: 0px;">
                                                <p style="margin: 0; padding: 0;border: 0; font-size: 12px; color: cornsilk;">Low to High</p>
                                                </button>

                                                <button type="button" class="btn" id="btn-2" style=" background-color: #17a2b8; color: white; border: none; border-radius: 5px; cursor: pointer; width: 100px; height: 30px;padding: 0px;">
                                                    <p style="margin: 0; padding: 0;border: 0; font-size: 12px; color: cornsilk;">High to Low</p>
                                                    </button>
                                        </div>
                                      </div>
                                 
                                </li>
                        </ul>
                        <li class="lvl1 parent dropdown">
                            <a >Search
                                <i class="anm anm-angle-down-l"></i>
                            </a>
                            <ul class="dropdown">
                                <div class="form-group has-search">
                                    <input  class="fa fa-search form-control-feedback" type="text" class="form-control" placeholder="Search" style="width: 300px;">
                                    </div>
                            </ul>
                    </li>              
            </ul>

           
        <!-- </nav> -->

              <div class="productList product-load-more" >
                    <div class="grid-products grid--view-items">
                            <div class="row" style="display: flex; justify-content: center; align-items: center; overflow: hidden;">
                                
                            <%if(locals.product){%>
                                <%if(product.length>0){%>
                                    <!-- <div class="col-lg-2 col-md-4 col-sm-4 col-5  item  m-2 rounded-top rounded-bottom "   style="background-color: lightblue; ">
                                        <div class="sidebar_tags"> -->

                                        <!-- <div class="sidebar_widget filterBox filter-widget">
                                            <div class="widget-title"><h2>Brands</h2></div>
                                            <ul>
                                                <li>
                                                  <input type="checkbox" value="allen-vela" id="check1">
                                                  <label for="check1"><span><span></span></span>Allen Vela</label>
                                                </li>
                                                <li>
                                                  <input type="checkbox" value="vanelas" id="check4">
                                                  <label for="check4"><span><span></span></span>Vanelas</label>
                                                </li>
                                                <li>
                                                  <input type="checkbox" value="pagini" id="check5">
                                                  <label for="check5"><span><span></span></span>Pagini</label>
                                                </li>
                                                <li>
                                                  <input type="checkbox" value="monark" id="check6">
                                                  <label for="check6"><span><span></span></span>Monark</label>
                                                </li>
                                            </ul>
                                        </div> -->



                                        <!-- <div class="sidebar_widget filterBox filter-widget">
                                            <div class="widget-title">
                                                <h2>Price</h2>
                                            </div>
                                            <form action="#" method="post" class="price-filter">
                                                <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                                                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <p style="margin-bottom: 0;"><input id="amount" type="text"></p>
                                                    </div>
                                                    <div class="col-6 text-right"  style="width: 30px;">
                                                        <button class="btn btn-secondary btn--small">High to Low</button>
                                                        <button class="btn btn-secondary btn--small">Low to High</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div> -->
                                       <!-- </div>
                                    </div> -->







                                    <% product.forEach((product) => { %>
                                        <!-- <div class="col-6 col-sm-6 col-md-3 col-lg-3     item  m-2 rounded-top rounded-bottom "   style="background-color: lightblue; "> -->
                                        <div class="col-lg-2 col-md-4 col-sm-4 col-5  item  m-2 rounded-top rounded-bottom "   style="background-color: lightblue; ">

                                            <!-- start product image -->
                                            <div class="product-image mt-2 rounded-top rounded-bottom ">
                                                <a href="/productdetails/<%=product._id%>">
                                                    <img class="primary blur-up lazyload " data-src="<%=product.image[0]%>" src="<%=product.image[0]%>"   alt="image" title="product" >/>
                                                    <img class="hover blur-up lazyload "  data-src="<%=product.image[1]%>" src="<%product.image[0]%>" alt="image" title="product" >/>
                                                </a>
                                                <form class="variants add" action="#" onclick="window.location.href='cart.html'"method="post">
                                                    <button class="btn btn-addto-cart" type="button">Add to cart</button>
                                                </form>
                                                <div class="button-set">
                                                    <div class="wishlist-btn">
                                                        <a class="wishlist add-to-wishlist" href="#" title="Add to Wishlist">
                                                            <i class="icon anm anm-heart-l"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--start product details -->
                                            <div class="product-details text-center">
                                                <!-- product name -->
                                                <div class="product-name">
                                                    <!-- <a href="#">Triangle Sleeveless Dress in Multi</a> -->
                                                    <p><%=product.name%></p>
                                                </div>
                                                <!-- End product name -->
                                                <!-- product price -->
                                                <div class="product-price">
                                                    <span class="price"><%=product.price%></span>
                                                </div>
                                                <!-- End product price -->
                                                
                                                <div class="product-review">
                                                    <i class="font-13 fa fa-star-o"></i>
                                                    <i class="font-13 fa fa-star-o"></i>
                                                    <i class="font-13 fa fa-star-o"></i>
                                                    <i class="font-13 fa fa-star-o"></i>
                                                    <i class="font-13 fa fa-star-o"></i>
                                                </div>
                                            </div>
                                            <!-- End product details -->
                                        </div>
                                    <% }) %>
                                <%}else{%>
                                    <h1>no data</h1>
                                <%}%>
                            <%}%>
                        </div>

<!-- testing -->
                        
                    </div>

                    </div>

                </div>
                <!-- <div class="infinitpaginOuter">
                    <div class="infinitpagin">	
                        <a href="#" class="btn loadMore">Load More</a>
                    </div>
                </div> -->

                <!-- Pagination -->
            <!-- Pagination section in the EJS file -->
            <div class="infinitpaginOuter" style="display: flex; justify-content: center;">
                <div class="infinitpagin  ">	
                    <% if (totalPages > 1) { %>
                        <ul class="pagination ">
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="btn-dark page-item <%= i === currentPage ? 'active' : '' %>">
                                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                </li>
                            <% } %>
                        </ul>
                    <% } %>
                </div>
            </div>

            
           
            
            









            <!--End Main Content-->
        </div>
    </div>
    
</div>






<script>
    document.addEventListener('DOMContentLoaded', function() {
        const minValue = document.getElementById('minValue').value.trim();
        const maxValue = document.getElementById('maxValue').value.trim();

        document.getElementById('btn-1').addEventListener('click', function() {
            fetchData('/category/<%=categoryName%>/ascending');
        });

        document.getElementById('btn-2').addEventListener('click', function() {
            fetchData('/category/<%=categoryName%>/descending');
        });

        const fetchData = async (url) => {
    try {
        const response = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ minValue,maxValue }), // Use 'priceValue' instead of 'inputString'
        });



        if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
        }

        const data = await response.json();
        // handle the response data as needed
        console.log(data);
    } catch (error) {
        console.error('Error:', error);
    }
};

    });
</script>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>











<%-include('footer')-%>



    </body>
    </html>