

<%-include('header')-%>
<!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width"> Wishlist</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                	<!-- <div class="alert alert-success text-uppercase" role="alert">
						<i class="icon anm anm-truck-l icon-large"></i> &nbsp;<strong>Congratulations!</strong> You've got free shipping!
					</div> -->
                    <% if(locals.wishlistItems){%>
                	<form action="#" method="post" class="cart style2">
                		<table>
                            <thead class="cart__row cart__header">
                                <tr>
                                    <th colspan="2" class="text-center" >Product</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">current stock</th>
                                    <th class="action">&nbsp;</th>
                                    <th class="action">&nbsp;</th>
                                   
                                </tr>
                            </thead>
                                   <tbody>
                                    <% locals.wishlistItems.forEach(item => { %>
                                        <tr class="cart__row border-bottom line1 cart-flex border-top">
                                            <td class="cart__image-wrapper cart-flex-item">
                                                <a href="#">
                                                    <img data-product-id="<%= item.productId %>" data-images="<%= JSON.stringify(item.images) %>" class="cart__image"
                                                    class="img-fluid  mx-auto mb-4" 
                                                         src="<%= item.images[1] %>"
                                                         style="width: 100px; height: 100px;"  
                                                         alt="<%= item.productId %>">
                                                </a>
                                            </td>
                                            <td class="cart__meta small--text-left cart-flex-item">
                                                <div class="list-view-item__title">
                                                    <a><%= item.name %> </a>
                                                </div>
                                            </td>
                                            <td style=" text-align: center;" class="cart__price-wrapper cart-flex-item">
                                                <span id="unitPrice" data-product-id="<%= item.productId %>" class="money">$<%= item.unitPrice %></span>

                                            </td>
                                            <td style=" text-align: center;" class="cart__price-wrapper cart-flex-item">
                                                <span id="stockElement" data-product-id="<%= item.productId %>"  data-product-stock="<%= item.stock %>" class="money"><%= item.stock %></span>

                                            </td>
                                            <td class="cart__update-wrapper cart-flex-item text-right">
                                                <div class="cart__qty text-center">
                                                    <div class="qtyField"  >

                                                        <!-- <a data-product-id="<%= item.productId %>" class="qtyBtn minus" onclick="qty('minus', '<%= item.productId %>')"><i class="icon icon-minus"></i></a>
                                                        <input data-product-id="<%= item.productId %>" data-stock="<%= item.stock %>" class="cart__qty-input qty" type="text" name="updates[]" max="<%= item.stock %>" value="<%= item.quantity %>" pattern="[0-9]*">
                                                        <a data-product-id="<%= item.productId %>" class="qtyBtn plus" onclick="qty('plus', '<%= item.productId %>')"><i class="icon icon-plus"></i></a>
                                                        <div id="alertDiv" data-product-id="<%= item.productId %>"><p style="color:darkred;"></p></div> -->

                                                        <!-- <a  style="background-color: aqua;"  href="/cart/<%= item.productId %>"><button class="btn btn-info addToCart-btn" data-product-id="<%= item.productId %>" >Add To Cart</button></a> -->
                                                        <a  style="background-color: aqua;"  href="/cart/<%= item.productId %>"><button class="btn  addto-cart" type="button"data-product-id="<%= item.productId %>" tabindex="0">Add To Cart</button></a> 
                                                        
                                                        <!-- <a style="background-color: rgb(40, 156, 176);" href="/cart/<%= item.productId %>"
                                                             class="btn btn-addto-cart" type="button" tabindex="0">Add To Cart
                                                        </a> -->
                                                        
                                                    </div>
                                                </div>
                                            </td>
                                           
                                            <td class="text-center small--hide">
                                                <a href="" class="btn btn--secondary wishlist__remove" title="Remove tem" data-stock="<%= item.stock %>"   data-product-id="<%= item.productId %>"><i class="icon icon anm anm-times-l"></i></a>

                                            
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                      </table> 
                    </form>                   
               	</div>
                
                <%}else{%>
                <h1>WISHLIST IS EMPTY</h1>
                <p><a href="/" class="btn btn--has-icon-after" style="background-color: black; color: aliceblue;" >Continue shopping <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>

                <%}%>
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
    
    <%-include('footer')-%>
  
  <script>
    const checkoutButton = document.getElementById('cartCheckout');
    function goToNextPage() {
      checkoutButton.disabled = false;
      checkoutButton.addEventListener('click', function(event) {
        event.preventDefault();
        window.location.href = '/checkout';
      });
    }
    goToNextPage();
  </script>


<!-- remove product from wishlist -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
      const removeButtons = document.querySelectorAll('.wishlist__remove');
      removeButtons.forEach(button => {
        button.addEventListener('click', function (event) {
          event.preventDefault();
          const productId = button.dataset.productId;
          fetch(`/wishlist/remove/${productId}`, {
            method: 'GET',
          })
          .then(response => {
            if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }
            window.location.reload();
          })
          .catch(error => {
            console.error('Error removing product:', error);
          });
        });
      });
    });
  </script>






 <!-- quantity value change -->



 

 

 <!-- [data-product-id="${productId}"] -->
<!-- 
   <script>
        const qty = (action, productId) => {
        const qtyInput = document.querySelector(`.qty[data-product-id="${productId}"]`);
        const alertDiv = document.querySelector(`#alertDiv[data-product-id="${productId}"]`);
        const totalPriceElement = document.querySelector(`#productPrice[data-product-id="${productId}"]`);
        const valueAttributePrice =  parseInt(totalPriceElement.getAttribute('value'));
        
      
        



        

        const subTotalElement = document.querySelector('#subTotalDiv');
        const totalPrice = subTotalElement.getAttribute('value');
        console.log(totalPrice,'hello' );





        const unitPriceElement = document.querySelector(`#unitPrice[data-product-id="${productId}"]`);
        const productUnitPrice = unitPriceElement.textContent
        const unitPrice = parseInt(productUnitPrice.replace('$',''))
        console.log(unitPrice,  'yes');




        // const productStock = stockElement.dataset.productStock;



        const stockElement = document.querySelector(`#stockElement[data-product-id="${productId}"]`);

// Access the value attribute
const stockAttributeValue =  parseInt(stockElement.getAttribute('data-product-stock'))

// Now 'stockAttributeValue' contains the value of the 'data-product-stock' attribute
console.log(typeof stockAttributeValue);


        const qtyValue = parseInt(qtyInput.value);

        let newQty ;

        if (action === 'plus') {
        newQty = qtyValue + 1;
    } else {
        newQty = Math.max(1, qtyValue - 1);
    }


        console.log(newQty,productId);

        fetch('/updateQuantity', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                productId: productId,
                newQuantity: newQty
            }),
        })
        .then(response => response.json())
        .then(data => {


            const divseted='<p style="color: darkred;">Out of stock</p>';
            const hello=`<span class="money">$${data.price.price}</span>`;

            console.log(data.price.price ,'product price now');
            
            console.log(unitPrice,'its the unit price');
            console.log(stockAttributeValue,  'In stock ')
            console.log(totalPrice ,  'subtotal');    //correct
            const subTotal=totalPrice
            console.log(valueAttributePrice,  'consistant'); // correct 
         
        const fetchValue=data.price.price
        const finalValue=subTotal-valueAttributePrice + fetchValue

        subTotalElement.innerHTML = `
                                <span class="col-12 col-sm-6 cart__subtotal-title">Subtotal</span>
                                <span id="subTotal"  class="col-12 col-sm-6 text-right"><span class="money">$${finalValue}</span></span>
                              `


            if (data.outOfStock) {
                // console.log('inside here');
                alertDiv.innerHTML = divseted
                totalPriceElement.innerHTML = hello

                // '<p style="color: darkred;">Out of stock\ncurrent stock ${data.product.stock}</p>';
                // `<p style="color: darkred;">Out of stock. Current stock: ${data.product.stock}</p>`;
            } else {
                alertDiv.innerHTML =""
                totalPriceElement.innerHTML = hello;
                

            //     const cartItems = document.querySelectorAll('.cart__row');
            // let updatedSubtotal = 0;

                console.log('Quantity updated successfully', data);
                // Additional logic if needed when quantity is updated successfully
            }
                //  `<p style="color: darkred;">current stock ${data.product.stock}</p>`;
                // `<p style="color: green;">Quantity updated successfully. Current stock: ${data.product.stock}</p>`;

                console.log('Quantity updated successfully', data);
                // Additional logic if needed when quantity is updated successfully
        })
        .catch(error => {
            console.error('Error updating quantity', error);
        });
    }
</script>  -->



<!-- 
<script>
     const qty = (action, productId) => {
        const qtyInput = document.querySelector(`.qty[data-product-id="${productId}"]`);
        const alertDiv = document.querySelector(`#alertDiv[data-product-id="${productId}"]`);
        const alertDiv2= document.querySelector(`#alertDiv2[data-product-id="${productId}"]`);
        
        const totalPriceElement = document.querySelector(`#productPrice[data-product-id="${productId}"]`);
        const valueAttributePrice = parseInt(totalPriceElement.getAttribute('value'));


        const subTotalElement = document.querySelector('#subTotalDiv');
        const grandTotalElement = document.querySelector('#grandTotalDiv');
        
        // const totalPrice = subTotalElement.getAttribute('value');
        // console.log(totalPrice, 'hello');

        const unitPriceElement = document.querySelector(`#unitPrice[data-product-id="${productId}"]`);
        const productUnitPrice = unitPriceElement.textContent;
        const unitPrice = parseInt(productUnitPrice.replace('$', ''));
        console.log(unitPrice, 'yes');

        const stockElement = document.querySelector(`#stockElement[data-product-id="${productId}"]`);
        const stockAttributeValue = parseInt(stockElement.getAttribute('data-product-stock'));
        console.log(typeof stockAttributeValue);

        const qtyValue = parseInt(qtyInput.value);
        let newQty;

        if (action === 'plus') {
            newQty = qtyValue + 1;
        } else {
            newQty = Math.max(1, qtyValue - 1);
        }

        console.log(newQty, productId);

        fetch('/updateQuantity', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                productId: productId,
                newQuantity: newQty
            }),
        })
        .then(response => response.json())
        .then(data => {
            const divseted = '<p style="color: darkred;">Out of stock</p>';
            const divseted2 = '<p style="color: darkred;">max InStock Price</p>';
            const hello = `<span class="money">$${data.price.price}</span>`;


            console.log(data.priceSum   ,  ' subTotal from  backend');
           const subTotal =data.priceSum
           subTotalElement.innerHTML = `
                <span class="col-12 col-sm-6 cart__subtotal-title">Subtotal</span>
                <span id="subTotal"  class="col-12 col-sm-6 text-right"><span class="money">$${subTotal}</span></span>
            `;

            const grandTotal= data.grandTotal
            grandTotalElement.innerHTML = `
            <span class="col-12 col-sm-6 cart__subtotal-title"><strong>Grand Total</strong></span>
            <span id="grandTotal" class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right"><span class="money">$${grandTotal.toFixed(2)}</span></span>
            `;


            if (data.outOfStock) {
                alertDiv.innerHTML = divseted;
                alertDiv2.innerHTML = divseted2;
                totalPriceElement.innerHTML = hello;
            } else {
                alertDiv.innerHTML = "";
                alertDiv2.innerHTML = "";
                totalPriceElement.innerHTML = hello;
            }

            console.log('Quantity updated successfully', data);
            // Additional logic if needed when quantity is updated successfully
        })
        .catch(error => {
            console.error('Error updating quantity', error);
        });
    }
</script> -->




  
</body>
</html>